<div class="row">

    <div class="col-3" *ngFor="let items of _shared.heros">

        <div [ngClass]="{'card p-1' : true , 'hight':items.power>100 , 'medium': items.power<100 && items.power>50, 'low':items.power<50}">
            <div class="card-img">
                <img [src]="items.image" alt="">
            </div>

            <div class="cards-body">
                <h2> {{items.name}} </h2>
                <p>  {{items.power}} </p>

            </div>    

        </div>

    </div>


    













</div>